<div class="form">
    <%= form_with model: invite do |form| %>
    <div class="form-group">
      <%= form.label :attended_event_id%> 
      <%= form.number_field :attended_event_id %>
    </div>
    <div class="form-group">
      <%= form.label :attendee_id %> 
      <%= form.number_field :attendee_id, input_html: { autocomplete: "event_attendee_id" } %>
    </div>
    <div class="form-group">
      <%= form.submit 'Invite', class: 'btn btn-outline-primary' %>
    </div>
    <% end %>
  </div>