<div class="events ">
    <% past_event.each do |event| %> 
    <div class="card event" >
      <%= image_tag('event_demo.jpg', class:"card-img-top")   %>
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.descrption %></p>
        <footer class="blockquote-footer d-flex gap-2">
          <p> <em> <%= event.event_creator.email.split('@')[0] %> </em></p>
          <cite title="Source Title"
            ><p><%= format_events_date(event.date) %></p></cite
          >
        </footer>
        <div class="footer-card d-flex position-absolute bottom-0 py-2 justify-content-between align-items-center">
          <%= link_to 'Past event', new_invite_path, class: 'btn btn-outline-danger disabled' %>
          
          <div class=" text-muted"> <em>
           ID: <%= event.id %>
  
          </em>
          </div>
        </div>
     
      </div>
    </div>
    <% end %> 
  </div>
  