<%= form_with model: event do |form|%>
<div class="mb-3 form-group">
    <%= form.label :Event_title %>
    <%= form.text_field :title, class: 'form-control' %>
</div>
<div class="mb-3 form-group">
    <%= form.label :Event_venue %>
    <%= form.text_field :venue, class: 'form-control' %>
</div>
<div class="mb-3 form-group">
    <%= form.label :Event_Descrption %>
    <%= form.text_area :descrption , class: 'form-control'%>
</div>
<div class="mb-3 form-group">
    <%= form.label :Event_Date %>
    <%= form.datetime_field :date , class: 'form-control'%>
</div>

<div class="mb-3 form-group">
    <%= form.submit 'Post Event' , class: 'btn btn-outline-success'%>
</div>
    
<% end %>